<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/about.png" type="image/x-icon" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/css/style.css">
      <script src="/js/app.js" charset="utf-8"></script>
    <title>Jake Adams</title>

  </head>
  <body>
    <main>
      <section class="landing">
        <div class="row">
          <div class="pane landing-left col-md-6">
            <h1><span id="hello">Hello.</span></br> I'm a Web Padawan</br><span id="padawan">(pad-ay-whan: Jedi in training. Think Obi-Wan in Episode one, but without that terrible braid.)</span></h1>

          </div>
          <div class="pane landing-right col-md-6">
            <img id="logo" src="https://farm5.staticflickr.com/4161/34368791412_15d5dea6c3_m.jpg" alt="logo">
            <ul>
              <li><a class="button">About</a></li>
              <li><a class="button2">Work</a></li>
              <li><a class="button3">Contact</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="about">
        <div class="row">
          <div class="pane about-left col-md-6">
            <img class="icon" src="images/about.png" alt="icon">
            <h1 class="title">About</h1>
            <ul class="nav">
              <li><a class="button">About</a></li>
              <li><a class="button2">Work</a></li>
              <li><a class="button3">Contact</a></li>
            </ul>
          </div>
          <div id="p1" class="pane about-right area col-md-6">
            <h1>I'm Jake Adams, a developer from London!</br><small> If you haven't already guessed from the descriptive domain.</small></h1>
              <p>After being exposed to code in a web development internship many moons ago, I realised that this apparently difficult role was in fact quite easy to pick up and vaguely enjoyable. I knew that coding would always be an option for me, but reluctantly pursued a career that used my biology degree out of a sense of misplaced loyalty or something.</p>
              <p>Returning from a mind-opening meditative trance of a journey around SE Asia, I realized I’m getting past my prime and should actually be doing something I enjoy with my life – so when my dream of being a Psychedelic Indie/Alternative rock god was destroyed, I applied to General Assembly.</p>
              <p>If you can’t already tell from my Padawan comment earlier, I’m a full on Star Wars fan. On top of this I am immersed in the London LoFi/Indie scene and will take any opportunity to go to a small room above a pub to sway intimately to the depressing tunes of nearly unknown bands.</p>
              <p>I’ve taken the liberty of embedding a Spotifiy playlist below, showcasing an eclectic mix of my tastes, from dreampop to psychedelic folk. Enjoy!</p>
            <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1122703268%3Aplaylist%3A0EolNWdCQ2vSGnpTOryOPo" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
      </section>

      <section id="work">
        <div class="row">
          <div id="p2" class="pane work-left col-md-6">
            <div class="project project1"></div>
              <h2>In browser Poke’mon game</h2>
              <p>The game features a basic battle engine that runs an algorithm with JS that advances in complexity as the game progresses. I chose to recreate the first battle the player will have in the Poke'mon franchise.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/jakeadamsiii/Project-one" target="_blank">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://quiet-fortress-14634.herokuapp.com/" target="_blank">Play the game</a>

              <div class="project project2"></div>
              <h2>Restful Express App – GigTonight?</h2>
              <p >Gig Tonight? is a live event platform that shows all of the live music events in London for the upcoming week that currently have tickets available for purchase. It fills a niche where you can immediately see and purchase tickets for events, plotted on a map, and are assured there are still tickets available.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/jakeadamsiii/WDI-25-Project-2-" target="_blanks">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://damp-oasis-81794.herokuapp.com/register" target="_blank">View the app</a>

              <div class="project project3"></div>
              <h2>MEAN stack App – Fabric – Team Project </h2>
              <p >Using the MEAN stack, this fashion renting app consumed multiple APIs, and implemented card payments.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/Domesjo/BackrowBoiz-wdi25-Project-3" target="_blank">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://guarded-refuge-81006.herokuapp.com/" target="_blank">View the app</a>

              <div class="project project4"></div>
              <h2>Rails backend with Angualr  - Donative</h2>
              <p>Donative is a crowdfunding charity fundraising platform that accepts payments using the Stripe API. The platform was designed to accommodate small individual projects that affect the user’s local community, to large NGO backed global projects.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/jakeadamsiii/project-4-api" target="_blank">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://intense-plateau-10152.herokuapp.com/" target="_blank">View the app</a>
          </div>
          <div class="pane work-right col-md-6">
            <img class="icon" src="images/work.png" alt="icon">
            <h1 class="title" >Work</h1>
            <ul class="nav">
              <li><a class="button">About</a></li>
              <li><a class="button2">Work</a></li>
              <li><a class="button3">Contact</a></li>
            </ul>
          </div>
          <%# hidden %>
          <div id="p3" class="pane work-left col-md-6">
            <div class="project project1"></div>
              <h2>In browser Poke’mon game</h2>
              <p>The game features a basic battle engine that runs an algorithm with JS that advances in complexity as the game progresses. I chose to recreate the first battle the player will have in the Poke'mon franchise.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/jakeadamsiii/Project-one" target="_blank">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://quiet-fortress-14634.herokuapp.com/" target="_blank">Play the game</a>

              <div class="project project2"></div>
              <h2>Restful Express App – GigTonight?</h2>
              <p >Gig Tonight? is a live event platform that shows all of the live music events in London for the upcoming week that currently have tickets available for purchase. It fills a niche where you can immediately see and purchase tickets for events, plotted on a map, and are assured there are still tickets available.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/jakeadamsiii/WDI-25-Project-2-" target="_blanks">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://damp-oasis-81794.herokuapp.com/register" target="_blank">View the app</a>

              <div class="project project3"></div>
              <h2>MEAN stack App – Fabric – Team Project </h2>
              <p >Using the MEAN stack, this fashion renting app consumed multiple APIs, and implemented card payments.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/Domesjo/BackrowBoiz-wdi25-Project-3" target="_blank">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://guarded-refuge-81006.herokuapp.com/" target="_blank">View the app</a>

              <div class="project project4"></div>
              <h2>Rails backend with Angualr  - Donative</h2>
              <p>Donative is a crowdfunding charity fundraising platform that accepts payments using the Stripe API. The platform was designed to accommodate small individual projects that affect the user’s local community, to large NGO backed global projects.</p>
              <a class="butt btn-1 btn-1e" href="https://github.com/jakeadamsiii/project-4-api" target="_blank">See the code</a>
              <a class="butt btn-1 btn-1f" href="https://intense-plateau-10152.herokuapp.com/" target="_blank">View the app</a>
          </div>

        </div>
      </section>

      <section id="contact">
        <div class="row">
          <div class="pane contact-left col-md-6">
            <img class="icon" src="images/contact.png" alt="icon">
            <h1 class="title">Contact</h1>
            <ul class="nav">
              <li><a class="button">About</a></li>
              <li><a class="button2">Work</a></li>
              <li><a class="button3">Contact</a></li>
            </ul>
          </div>
          <div class="pane contact-right col-md-6">
            <h1>Fancy a chat or a colab?</h1>
            <h2>Drop me a line:</h2>

            <h3>JAKE ADAMS</h3>
            <p><a href="mailto:jadams.html@gmail.com?subject=Hey">Jadams.html@gmail.com</a></p>
            <h4>I can also be found here:</h4>
            <ul id="socialBtns">
              <li><a href="https://www.linkedin.com/in/jake-adams-16b92476/" target="_blank"><img class="mediabtn" src="http://www.pngall.com/wp-content/uploads/2016/07/Linkedin.png" alt=""></a></li>
              <li><a href="https://www.codewars.com/users/Jadamsiii" target="_blank"><img class="mediabtn" src="http://www.bbeckert.com/img/icons/codewars.png" alt=""></a></li>
              <li><a href="https://github.com/jakeadamsiii" target="_blank"><img class="mediabtn" src="http://people.mozilla.org/~dietrich/psu2014/imgs/github.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </section>

    </main>
  </body>
</html>
